<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="(!item.auth || isLoggedIn())&&(!item.admin || user.isAdmin)">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li class="search">
                <input name="searchbox" type="text" class="form-control" placeholder="Search for a product" ng-model="desiredProduct" typeahead="product as product.name for product in allProducts | filter:{name: $viewValue} | limitTo:3">
            </li>
        </ul>
        <button ng-show="user && user.isAdmin" ui-sref="admin-dashboard" class="btn login-button">Admin Dashboard</button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Register</button>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout&nbsp;</a>
        </div>
    </div>
</nav>
