<section class="products">
    <p>
    <h1>{{selectedCategory.name}}</h1>
        <label>Choose a category:
            <select name="category" ng-options="category.name for category in categories" ng-model="selectedCategory" required>
            </select>
        </label>

    </p>
    <div class='well' ng-repeat="product in products | orderBy: 'name' | filter: categoryFilter">
      <img ng-src="{{ product.photoUrl }}" class="img-thumbnail" width="50" height="50">
      <a ui-sref="product({productId: product.id})">{{ product.name }}</a>
    </div>
</section>
