
<div class="product well">
    <legend><h3>{{ product.name }} <button style="float:right" class ="btn btn-primary btn-sm" ng-click="addItem()">Add To Cart</button> <button style="float:right" class="btn btn-info btn-sm" ui-sref="reviews({productId: product.id})">Reviews</button><button style="float:right" class="btn btn-info btn-sm" ui-sref="updateProduct({id:product.id})">Edit Item</button>

</h3></legend>
    <div class='well well-sm'>
        <center><img style="width:50%" ng-src="{{ product.photoUrl }}"></center>
    </div>
    <div class='well'>
        <legend>About</legend>
        <center><p>
                    <i>{{ product.description }}</i><br> 
                    <b>{{ product.currentPrice }}</b> USD |
                    <b>{{ product.inventory }}</b> left. </p>
        </center>

        </div>
        <div class='well'>
            <legend>Browse Similar In:</legend>
            <p ui-sref-active="active"><button class='btn btn-default' ng-repeat="category in categories"
            ui-sref="products({categoryId: category.id})">{{category.name}}</button> 
        </div>

 

    </div>
</div>
