<div class="well">
  <form class="form-horizontal" name='checkoutForm' ng-submit='submitOrder()' >
    <fieldset>
      <legend><h2>Your Order</h2></legend>
		<h4>Items ({{cart.numItems}})</h4>
		<table class='table'>
			<tr ng-repeat='item in cart.items'>
        <td>{{item.quantity}}</td>
        <td><b>{{item.name}}</b></td>
        <td>${{item.currentPrice*item.quantity}}</td>
      </tr>
		</table>
	<h4>Total: ${{cart.total}}</h4>  
      <legend><h2>Your Information</h2></legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input ng-value='client.name' name='clientName' class="form-control" type="text" ng-model='client.name' ng-disabled="loggedIn" required>
        </div>
        <label class="col-xs-2 control-label">Email</label>
        <div class="col-xs-10">
          <input ng-disabled="loggedIn" ng-value='client.email' name='clientEmail' class="form-control" type="email"  ng-model='client.email' required>
        </div>
        <label class="col-xs-2 control-label">Shipping Address</label>
        <div class="col-xs-10">
          <textarea rows="3" name='clientAddress' class="form-control" ng-model='client.address'required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="alert alert-warning" ng-show='checkoutForm.clientName.$error.required&&checkoutForm.clientName.$dirty'>Please enter a name</div>
          <div class="alert alert-warning" ng-show='checkoutForm.clientEmail.$error.required&&checkoutForm.clientEmail.$dirty'>Please enter an email</div>
          <div class="alert alert-warning" ng-show='checkoutForm.clientAddress.$error.required&&checkoutForm.clientAddress.$dirty'>Please enter a shipping address</div>
         
          <button type="submit" class="btn btn-success" ng-disabled='checkoutForm.$invalid'>Submit Order</button>

        </div>
      </div>
    </fieldset>
  </form>

</div>