<div class="well">
  <legend><h2>View Orders</h2></legend>
    <ul>
      <!-- <li ng-repeat="order in orders | limitTo: 5">{{order.id}}</li> -->
      <li>Pretend this is an order</li>
    </ul>
  <legend><h2>View Users</h2></legend>
    <table>
      <tr ng-repeat="user in users | limitTo: users.numToShow || 4">
        <td >{{user.name}}</td> <td>&nbsp</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
    <h6 ng-click="showAll('users')" ng-hide="users.numToShow<=users.length">Click to show all {{users.length}} users... </h6>
  <legend><h2>Manage Categories</h2></legend>
    <ul>
      <li ng-repeat="category in categories ">{{category.name}}</li>
    </ul>

</div>
